<script>
  function showInformation() {
    var information = "This is the information you want to display.";
    alert(information);
  }
</script>

<button onclick="showInformation()">Show Information</button>

{% schema %}
{
  "name": "Shipping Information",
  "settings": [],
  "presets": [
    {
      "name": "Shipping Information"
    }
  ]
}
{% endschema %}
